In [11]:
import numpy as np
import pandas as pd

from sklearn import preprocessing
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from catboost import CatBoostRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error

import warnings
warnings.filterwarnings("ignore")

# Загрузка данных

In [2]:
X_train = pd.read_csv('../data/X_train.csv', parse_dates=['reportts'])
y_train = pd.read_csv('../data/y_train.csv', parse_dates=['reportts'])

# X_test = pd.read_csv('../data/X_test.csv', parse_dates=['reportts']).fillna(0)

X_train.rename(columns={"reportts": "datetime"}, inplace=True);
# X_test.rename(columns={"reportts": "datetime"}, inplace=True);
y_train.rename(columns={"reportts": "datetime"}, inplace=True);

dataset = X_train.merge(y_train, on=['acnum', 'pos', 'datetime']).dropna(subset=['egtm'])

In [3]:
dataset.head()

,datetime,acnum,pos,fltdes,dep,arr,ivs12,ibe,iaie,iai,...,votm,vsva,w14,pf,wai,nai,prv,hpv,xf,egtm
0,2018-12-24 10:53:22,VQ-BGU,1,8990.0,EDHI,UUDD,NaN,NaN,NaN,NaN,...,NaN,0.0,1160.0,0.53,0.0,0.0,1.0,0.0,0.0,44.437
1,2018-12-24 10:53:22,VQ-BGU,2,8990.0,EDHI,UUDD,NaN,NaN,NaN,NaN,...,NaN,0.0,1160.0,0.53,0.0,0.0,1.0,0.0,0.0,45.869
2,2018-12-25 15:23:23,VQ-BGU,1,1024.0,URSS,UUDD,NaN,NaN,NaN,NaN,...,NaN,0.0,1179.0,0.53,0.0,0.0,1.0,0.0,0.0,44.379
3,2018-12-25 15:23:23,VQ-BGU,2,1024.0,URSS,UUDD,NaN,NaN,NaN,NaN,...,NaN,0.0,1179.0,0.53,0.0,0.0,1.0,0.0,0.0,44.904
4,2018-12-25 20:49:27,VQ-BGU,1,217.0,UUDD,UNBB,NaN,NaN,NaN,NaN,...,NaN,0.0,1302.0,0.51,0.0,0.0,1.0,0.0,0.0,43.742

In [4]:
cat_features = ['pos','dep', 'arr']

for cat in cat_features:
    lbl = preprocessing.LabelEncoder()
    dataset[cat] = lbl.fit_transform(dataset[cat].astype(str))
    dataset[cat] = dataset[cat].astype('category')

dataset.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Index: 2827 entries, 0 to 2832
Data columns (total 166 columns):
 #    Column      Dtype
---   ------      -----
 0    datetime    datetime64[ns]
 1    acnum       object
 2    pos         category
 3    fltdes      float64
 4    dep         category
 5    arr         category
 6    ivs12       float64
 7    ibe         float64
 8    iaie        float64
 9    iai         float64
 10   zwbp        float64
 11   acct        float64
 12   alt         float64
 13   alt_peak    float64
 14   alt_rtd     float64
 15   aoc         float64
 16   b25         float64
 17   baf         float64
 18   bbf         float64
 19   bbr         float64
 20   bbv         float64
 21   btmc        float64
 22   cas         float64
 23   cas_peak    float64
 24   cas_rtd     float64
 25   cg          float64
 26   cnt         int64
 27   code        int64
 28   dbfl        float64
 29   dbfs        float64
 30   dbnfl       float64
 31   dbnfs       float64
 32   dflm        float64
 33   dflm_peak   float64
 34   dfsm        float64
 35   dfsm_peak   float64
 36   dnflm       float64
 37   dnflm_peak  float64
 38   dnfsm       float64
 39   dnfsm_peak  float64
 40   dph         float64
 41   e           float64
 42   ecyc        int64
 43   egt         float64
 44   egt_peak    float64
 45   egtb        float64
 46   ehrs        float64
 47   eopt        float64
 48   esn         float64
 49   fdp         float64
 50   fedet       float64
 51   ff          float64
 52   ffan        float64
 53   ffr         float64
 54   fmvc        float64
 55   fmvt        float64
 56   foc         float64
 57   focb        float64
 58   focvp       float64
 59   ftba        float64
 60   ftbm        float64
 61   fvd         float64
 62   fvl         float64
 63   fvmf        float64
 64   fvmo        float64
 65   fvn1        float64
 66   fvn2        float64
 67   fvp         float64
 68   fvt         float64
 69   gle         float64
 70   gw          float64
 71   hpcbf       float64
 72   hpctc       float64
 73   joip        float64
 74   lpbt        float64
 75   lpcsp       float64
 76   lpcsv       float64
 77   lpctc       float64
 78   lpt         float64
 79   lptm        float64
 80   max         float64
 81   mn          float64
 82   mn_peak     float64
 83   mn_rtd      float64
 84   mne         float64
 85   mne_peak    float64
 86   n1          float64
 87   n1_peak     float64
 88   n1a         float64
 89   n1a_peak    float64
 90   n1c2        float64
 91   n1c2_peak   float64
 92   n1com       float64
 93   n1com_peak  float64
 94   n1k         float64
 95   n1max       float64
 96   n1max_peak  float64
 97   n1msa       float64
 98   n1p         float64
 99   n2a         float64
 100  n2a_peak    float64
 101  n2c5        float64
 102  n2p         float64
 103  naidp       float64
 104  nait        float64
 105  naiup       float64
 106  nedet       float64
 107  nf          float64
 108  nf_peak     float64
 109  nsa         float64
 110  oat         float64
 111  oat_peak    float64
 112  odm5f       float64
 113  odm6f       float64
 114  odm7f       float64
 115  odp         float64
 116  oip         float64
 117  oiq         float64
 118  oit         float64
 119  p25         float64
 120  p2e         float64
 121  p5          float64
 122  pamb        float64
 123  pb          float64
 124  ph          int64
 125  phm         float64
 126  ps14        float64
 127  ptmc        float64
 128  qe          float64
 129  rfan        float64
 130  rvn1        float64
 131  rvn2        float64
 132  shptp       float64
 133  slptp       float64
 134  sva         float64
 135  t14         float64
 136  t2          float64
 137  t25         float64
 138  t2_peak     float64
 139  t3          float64
 140  tat         float64
 141  tat_peak    float64
 142  tat_rtd     float64
 143  tcc         float64
 144  tccoc       float64
 145  tec         float64
 146  tfuel       float64
 147  tla         float64
 148  tn          float64
 149  tol         float64
 150  tr          float64
 151  ttp         float64
 152  vb1         float64
 153  vb2         float64
 154  vorrc       float64
 155  vorv        float64
 156  votm        float64
 157  vsva        float64
 158  w14         float64
 159  pf          float64
 160  wai         float64
 161  nai         float64
 162  prv         float64
 163  hpv         float64
 164  xf          float64
 165  egtm        float64
dtypes: category(3), datetime64[ns](1), float64(157), int64(4), object(1)
memory usage: 3.6+ MB

In [6]:
pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='mean')),  # Impute missing values
    ('scaler', StandardScaler()),  # Standardize features
    ('catboost', CatBoostRegressor())  # CatBoost Regressor
])

In [15]:
def train_model(X, y):
    assert len(X) == len(y)

    X = X.fillna(0).drop(columns=[
      'datetime', 'acnum', 'pos', 'fltdes','dep', 'arr'
    ])

    X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.25, random_state=42)

    # Define the pipeline
    pipeline = Pipeline([
        ('imputer', SimpleImputer(strategy='mean')),  # Impute missing values
        ('scaler', StandardScaler()),  # Standardize features
        ('catboost', CatBoostRegressor(random_state=42,verbose=False))  # CatBoost Regressor
    ])

    # Train the model
    pipeline.fit(X_train, y_train)

    # Predict on validation set
    predicted = pipeline.predict(X_val)

    # Calculate evaluation metrics
    rmse = mean_squared_error(y_val, predicted, squared=False)
    mae = mean_absolute_error(y_val, predicted)

    predicted = pipeline.predict(X_val)
    rmse = mean_squared_error(y_val, predicted, squared=False)
    mae = mean_absolute_error(y_val, predicted)

    return rmse, mae, pipeline

In [16]:
fleet = ['VQ-BGU', 'VQ-BDU']

for acnum in fleet:
  X = dataset[dataset['acnum'] == acnum].drop(columns=['egtm'])
  y = dataset[dataset['acnum'] == acnum]['egtm']

  rmse, mae, model = train_model(X, y)

  print(f'acnum={acnum} RMSE={rmse:.3f} MAE={mae:.3f}')

acnum=VQ-BGU RMSE=1.015 MAE=0.592
acnum=VQ-BDU RMSE=0.498 MAE=0.385